.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  /* background-color: red; */
  overflow: hidden;
}

.container svg {
  display: block;
  width: 100%;
  height: 100%;
}


.text {
  font: 12px sans-serif; 
  fill: rgb(255, 88, 255);
}

.circles  {
  fill: black;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 110px;
  padding: 10px;
  top: 0;
  font: 12px sans-serif;
  background:rgba(0 , 0, 0, .5);
  color: white;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}